1. Lists
  - inside [ ]

In [ ]:
#Daily temp collected from sensors
daily_temp = [32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4]

print(f'Average Temperature : {(sum(daily_temp)/len(daily_temp))}')

#Accessing element
print(daily_temp[4])

#slicing
print(daily_temp[-5:])

print(daily_temp[:3])

daily_temp[0] = 33.7
print(daily_temp)

#Append
daily_temp.append(36.2)
print(daily_temp)

#Insert
daily_temp.insert(3, 33.6)
print(daily_temp)

#Remove
daily_temp.remove(36.2)
print(daily_temp)

#Sort
daily_temp.sort()
print(daily_temp)

#Delete Specific Index Value
del(daily_temp[-4])
print (daily_temp)

daily_temp.pop(-3)
print(daily_temp)

Average Temperature : 34.04285714285714
34.1
[33.0, 35.0, 34.1, 36.1, 35.4]
[32.5, 32.2, 33.0]
[33.7, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4]
[33.7, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4, 36.2]
[33.7, 32.2, 33.0, 33.6, 35.0, 34.1, 36.1, 35.4, 36.2]
[33.7, 32.2, 33.0, 33.6, 35.0, 34.1, 36.1, 35.4]
[32.2, 33.0, 33.6, 33.7, 34.1, 35.0, 35.4, 36.1]
[32.2, 33.0, 33.6, 33.7, 35.0, 35.4, 36.1]
[32.2, 33.0, 33.6, 33.7, 35.4, 36.1]

2. Tuple
  - inside ( )

In [ ]:
#Daily temp collected from sensors

daily_temp = (32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4)
temp = (33.6, 37.4)

print(daily_temp + temp)

#Accessing element
print(daily_temp[4])

#slicing
print(daily_temp[-5:])

print(daily_temp[:3])

print(daily_temp.index(35.4))

#Converting
temp_list = list(daily_temp)
print(temp_list)

temp_tuple = tuple(daily_temp)
print(temp_tuple)

(32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4, 33.6, 37.4)
34.1
(33.0, 35.0, 34.1, 36.1, 35.4)
(32.5, 32.2, 33.0)
6
[32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4]
(32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4)

3. Dictionary

In [ ]:
#Weather data

weather = {
    'Monday': 32.5,
    'Tuesday': 35.6,
    'Wednesday': 37.3,
    'Thursday': 33.4
}

print(weather)

print(weather['Wednesday'])

#to avoid error even if value is not present
print(weather.get('Friday', 'Not Available'))

print(weather.get('Monday', 'Not Available'))

#add Sunday value
weather['Sunday'] = 35.2
print(weather)

weather['Sunday'] = 36.1
print(weather)

#Remove key:value pair
weather.pop('Tuesday')
print(weather)

print('Monday' in weather)
print('Monday' not in weather)

w_new = weather.copy()
print(w_new)

{'Monday': 32.5, 'Tuesday': 35.6, 'Wednesday': 37.3, 'Thursday': 33.4}
37.3
Not Available
32.5
{'Monday': 32.5, 'Tuesday': 35.6, 'Wednesday': 37.3, 'Thursday': 33.4, 'Sunday': 35.2}
{'Monday': 32.5, 'Tuesday': 35.6, 'Wednesday': 37.3, 'Thursday': 33.4, 'Sunday': 36.1}
{'Monday': 32.5, 'Wednesday': 37.3, 'Thursday': 33.4, 'Sunday': 36.1}
True
False
{'Monday': 32.5, 'Wednesday': 37.3, 'Thursday': 33.4, 'Sunday': 36.1}

In [ ]:
books = {
    'Harry Potter': 'J.K. Rowling',
    'Trust': 'Hernan Diaz',
    'Pride and Prejudice': 'Jane Austin',
    'Jane Eyre': 'Charlotte Brontë',
    'Song of Achilles': 'Madeline Miller'
}
print(books)

{'Harry Potter': 'J.K. Rowling', 'Trust': 'Hernan Diaz', 'Pride and Prejudice': 'Jane Austin', 'Jane Eyre': 'Charlotte Brontë', 'Song of Achilles': 'Madeline Miller'}

4. Set
  - arranged randomly
  - differences/similarities:
    - will not print duplicate values in set, but will in list
    - in dictionary keys cannot be duplicated but values can
    - no order format is present in set, nor dictionary
    - all three are mutable
  - cannot have specific index value

In [ ]:
daily_temp = {32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 32.2, 33.0, 34.1, 32.5, 34.5}

print(daily_temp)

daily_temp.add(37.0)
print(daily_temp)

"""daily_temp.remove(37.1)
print(daily_temp)"""

daily_temp.discard(37.1)
print(daily_temp)

daily = {32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 32.2, 33.0, 34.1, 32.5, 34.5}
print(daily)
daily.clear()
print(daily)

del daily

{32.5, 33.0, 32.2, 35.0, 34.1, 36.1, 34.5}
{32.5, 33.0, 32.2, 35.0, 34.1, 36.1, 34.5, 37.0}
{32.5, 33.0, 32.2, 35.0, 34.1, 36.1, 34.5, 37.0}
{32.5, 33.0, 32.2, 35.0, 34.1, 36.1, 34.5}
set()

In [ ]:
set1 = {1, 3, 4, 5, 6}
set2 = {3, 7, 2, 4, 9}

#union function
print(set1 | set2)

#intersection (common elements)
print(set1 & set2)

#diff
print(set1 - set2)
print(set2 - set1)

setb = set1.copy()
print(setb)

{1, 2, 3, 4, 5, 6, 7, 9}
{3, 4}
{1, 5, 6}
{9, 2, 7}
{1, 3, 4, 5, 6}

In [ ]:
set1 = [1, 3, 4, 5, 6]
set2 = [3, 7, 2, 4, 9]

common = set(set1) & set(set2)
print(common)

{3, 4}

In [ ]:
set1 = [1, 3, 4, 5, 6]
set2 = [3, 4]

missing = set(set1) - set(set2)
print(missing)

{1, 5, 6}